.Rproj.user
.Rhistory
.RData
.Ruserdata
book-concordance.tex
book.lof
book.log
book.lot
book.synctex.gz
book.tex
cache
figure
book.toc
beamer.snm
beamer.synctex.gz
beamer.tex
beamer.toc
beamer.vrb
beamer-concordance.tex
beamer.log
beamer.nav
.checkpoint
